
.scroll-button-menu-container {
    display: flex;
  }

  .scroll-button {
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }

  .scroll-button:hover {
    background-color: #eee;
  }

  .scroll-button[disabled] {
    cursor: default;
    opacity: 0.3;
  }

  .scroll-button-menu {
    margin-left:5px;
    margin-right:5px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .button {
    border: none;
    background-color: #eee;
    color: #333;
    font-size: 18px;
    border-radius:5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #ddd;
  }
